@import '../index.scss';

.footer-container {
    background: $black;
    padding: 0 5% 0 5%;
}

.top-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5% 0 5% 0;
}

.top-footer > p {
    display: none;
}

.top-footer > img {
    height: auto;
    flex-basis: 25%;
    object-fit: contain;
    margin-top: 2%;
}

.top-footer-links {
    display: flex;
    flex-basis: 40%;
    flex-wrap: wrap;
}

.top-footer-link {
    color: $white;
    font-size: $font-24;
    flex-basis: 50%;
    text-decoration: none;
    text-indent: 50%;
    margin-top: 15px;
}

.contact-item {
    color: $white;
    display: flex;
    font-size: $font-16;
    font-weight: 300;
    max-width: 235px;
}

.contact-item > p {
    margin-left: 10px;
}

.bottom-footer { 
    align-items: center;
    color: $white;   
    border-top: 1px solid $white;
    display: flex;
    justify-content: space-between;
}

.bottom-footer-link {
    color: $white;
    font-size: $font-14;
    font-weight: 200;
    margin-left: 30px;
    text-decoration: none;
}


@media only screen and (max-width: 1279px) {
    .top-footer > p {
        color: $white;
        display: block;
        margin-bottom: 50px;
    }
    
    .top-footer {
        align-items: center;
        flex-direction: column;
    }
    
    .top-footer-links {
        flex-direction: row;
        margin-bottom: 20px;
    }
    
    .top-footer-link {
        align-self: center;
        flex-basis: 50%;
        text-indent: 25%;
        margin-bottom: 25px;
    }
    
    .bottom-footer {
        border: none;
        justify-content: center;
        margin-top: 30px;
    }
    
    .bottom-footer > p {
        display: none;
    }
}


@media only screen and (max-width: 768px) {


    .contact-item {
        max-width: 200px
    }

    .top-footer > img {
        width: 50%;
    }

    .top-footer > p {
        text-align: center;
    }

    .bottom-footer-link {
        margin-left: 10px;
    }
}